WindowsFormsApplication3/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Get">
        <s:complexType />
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get1">
        <s:complexType />
      </s:element>
      <s:element name="Get1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get1Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get2">
        <s:complexType />
      </s:element>
      <s:element name="Get2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get2Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get3">
        <s:complexType />
      </s:element>
      <s:element name="Get3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get3Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get4">
        <s:complexType />
      </s:element>
      <s:element name="Get4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get4Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get5">
        <s:complexType />
      </s:element>
      <s:element name="Get5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get5Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get6">
        <s:complexType />
      </s:element>
      <s:element name="Get6Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get6Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get7">
        <s:complexType />
      </s:element>
      <s:element name="Get7Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get7Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get8">
        <s:complexType />
      </s:element>
      <s:element name="Get8Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get8Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="Get1SoapIn">
    <wsdl:part name="parameters" element="tns:Get1" />
  </wsdl:message>
  <wsdl:message name="Get1SoapOut">
    <wsdl:part name="parameters" element="tns:Get1Response" />
  </wsdl:message>
  <wsdl:message name="Get2SoapIn">
    <wsdl:part name="parameters" element="tns:Get2" />
  </wsdl:message>
  <wsdl:message name="Get2SoapOut">
    <wsdl:part name="parameters" element="tns:Get2Response" />
  </wsdl:message>
  <wsdl:message name="Get3SoapIn">
    <wsdl:part name="parameters" element="tns:Get3" />
  </wsdl:message>
  <wsdl:message name="Get3SoapOut">
    <wsdl:part name="parameters" element="tns:Get3Response" />
  </wsdl:message>
  <wsdl:message name="Get4SoapIn">
    <wsdl:part name="parameters" element="tns:Get4" />
  </wsdl:message>
  <wsdl:message name="Get4SoapOut">
    <wsdl:part name="parameters" element="tns:Get4Response" />
  </wsdl:message>
  <wsdl:message name="Get5SoapIn">
    <wsdl:part name="parameters" element="tns:Get5" />
  </wsdl:message>
  <wsdl:message name="Get5SoapOut">
    <wsdl:part name="parameters" element="tns:Get5Response" />
  </wsdl:message>
  <wsdl:message name="Get6SoapIn">
    <wsdl:part name="parameters" element="tns:Get6" />
  </wsdl:message>
  <wsdl:message name="Get6SoapOut">
    <wsdl:part name="parameters" element="tns:Get6Response" />
  </wsdl:message>
  <wsdl:message name="Get7SoapIn">
    <wsdl:part name="parameters" element="tns:Get7" />
  </wsdl:message>
  <wsdl:message name="Get7SoapOut">
    <wsdl:part name="parameters" element="tns:Get7Response" />
  </wsdl:message>
  <wsdl:message name="Get8SoapIn">
    <wsdl:part name="parameters" element="tns:Get8" />
  </wsdl:message>
  <wsdl:message name="Get8SoapOut">
    <wsdl:part name="parameters" element="tns:Get8Response" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Get">
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get1">
      <wsdl:input message="tns:Get1SoapIn" />
      <wsdl:output message="tns:Get1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get2">
      <wsdl:input message="tns:Get2SoapIn" />
      <wsdl:output message="tns:Get2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get3">
      <wsdl:input message="tns:Get3SoapIn" />
      <wsdl:output message="tns:Get3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get4">
      <wsdl:input message="tns:Get4SoapIn" />
      <wsdl:output message="tns:Get4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get5">
      <wsdl:input message="tns:Get5SoapIn" />
      <wsdl:output message="tns:Get5SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get6">
      <wsdl:input message="tns:Get6SoapIn" />
      <wsdl:output message="tns:Get6SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get7">
      <wsdl:input message="tns:Get7SoapIn" />
      <wsdl:output message="tns:Get7SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get8">
      <wsdl:input message="tns:Get8SoapIn" />
      <wsdl:output message="tns:Get8SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get1">
      <soap:operation soapAction="http://tempuri.org/Get1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get2">
      <soap:operation soapAction="http://tempuri.org/Get2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get3">
      <soap:operation soapAction="http://tempuri.org/Get3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get4">
      <soap:operation soapAction="http://tempuri.org/Get4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get5">
      <soap:operation soapAction="http://tempuri.org/Get5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get6">
      <soap:operation soapAction="http://tempuri.org/Get6" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get7">
      <soap:operation soapAction="http://tempuri.org/Get7" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get8">
      <soap:operation soapAction="http://tempuri.org/Get8" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get1">
      <soap12:operation soapAction="http://tempuri.org/Get1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get2">
      <soap12:operation soapAction="http://tempuri.org/Get2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get3">
      <soap12:operation soapAction="http://tempuri.org/Get3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get4">
      <soap12:operation soapAction="http://tempuri.org/Get4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get5">
      <soap12:operation soapAction="http://tempuri.org/Get5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get6">
      <soap12:operation soapAction="http://tempuri.org/Get6" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get7">
      <soap12:operation soapAction="http://tempuri.org/Get7" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get8">
      <soap12:operation soapAction="http://tempuri.org/Get8" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:65311/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:65311/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>